[submodule "themes/cayman"]
	path = themes/cayman
	url = https://github.com/zwbetz-gh/cayman-hugo-theme.git
[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
